# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build
node_modules
dist
dist-pages
dist-ssr
*.local
bun.lockb
package-lock.json
coverage
playwright-report
test-results
.turbo
**/*.tsbuildinfo
apps/desktop/src-tauri/target/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# DEV
.dev/
_dev/
AGENTS.md
